.galleryCard{
    height: 300px;
    width: 300px;
    border-radius: 20px;
    background-color: red;
    border: 1px solid teal;
    overflow: hidden;
    position: relative;
}
.galleryCard img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.info{
    position: absolute;
    bottom: -200px;
    background-color: rgba(116, 111, 111, 0.6);
    padding: 10px 15px;
    color: whitesmoke;
    left: 0;
    right: 0;
    backdrop-filter: blur(4px);
    transition: 1s all linear;
}
.galleryCard:hover .info{
    bottom: 0;
}